.dub
docs.json
__dummy.html
docs/
/etichetta
etichetta.so
etichetta.dylib
etichetta.dll
etichetta.a
etichetta.lib
etichetta-test-*
dub.selections.json
deployment/windows/*
*.exe
*.pdb
*.o
*.obj
*.lst
output/*
deployment/unpacker
*.snap
InstallationLog.txt
ext/onnx/*